main > h1 {
  text-align: center;
} 

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article {
  position: relative;
  margin: 10px;
  margin-bottom: 350px;
  color: black;
}

.img {
  width: 30vw;
}

.caption {
  background-color: white;
  position: absolute;
  right:0;
  left: 15%;
  top: 70%;
  padding: 20px;
  padding-top: 0px;
}

.caption > h2, .caption > h3, .caption > p{
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}

.caption > h2 {
font-weight: 400;
}

.caption > h3 {
font-weight: 300;
}

@media (max-width: 1160px) {
  .article {
    margin-bottom: 450px;
  }
}

@media (max-width: 950px) {
  .article {
    margin-bottom: 550px;
  }
}

/* Mobile Display */
@media (max-width: 820px ) {
  .row {
    flex-direction: column;
  }

  .article {
    margin-bottom: 10px;

  }

  .caption {
    position: relative;
    left: 10%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: -80px;
    width: 90%;
    right: 100%;
  }

  .img {
    width: 100%;
  }
}

