body {
    margin-left: 10px;
}

/* Footer CSS 
.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer > .social-media-links {
  background-color: rgb(25, 37, 62,0.6);
  margin: 0;
  height: 100px;
}

.social-media-links > li {
  padding: 10px;
  
}
*/

/* Main body CSS */ 

/* Centers all text and images */
.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-image{
  max-width: 828px;
}

.article-text {
  max-width: 828px;
}


/* Overlay CSS 
.container{
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: transparent;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
  text-align: center;
  box-sizing: border-box;
  color: transparent;
}

#text{
  font-size: 1.3em;
  font-family: sans-serif;
  text-align: right;
  padding-right: 10px;
  padding-top: 30px;
}

#arrow {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  display: none;
  padding-left: 30px;
  padding-right: 40px;
  transform: scale(2);
}

.container:hover #text{
  color:white;
}

.container:hover #arrow{
      display: inline;
}

.container:hover .overlay {
  background-color: rgb(25, 37, 62);
  width: 100%;
}
*/

/* Box Idea */ 
 
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article {
  position: relative;
  margin: 10px;
  overflow: visible;
  margin-bottom: 350px;
  text-decoration: none;
  color: black;
}

.img {
  width: 30vw;
  object-fit: cover;
  position: relative;
}

.textt {
  background-color: white;
  /* background-color: rgb(190,203,220); */

  position: absolute;
  right:0;
  left: 15%;
  top: 70%;
  padding: 20px;
  padding-top: 0px;
}

.textt > h2 {
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
}

.textt > h3 {
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
}

.textt > p {
font-family: 'Poppins';
font-family: 'Roboto Condensed';
font-family: 'Source Sans Pro';
}

@media (max-width: 1160px) {
  .article {
    margin-bottom: 450px;
  }
}

@media (max-width: 950px) {
  .article {
    margin-bottom: 550px;
  }
}
