#container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  align-items: center; 
  
}

#profile-pic {
  width: 40vw;
  height: 80vh;
  object-fit: cover;
  object-position: right;
}


#text {
  background-color: rgb(190, 203, 220);
  width: 40vw;
  margin-left: -80px; 
  font-family: sans-serif;
  padding: 30px;
}

#text > h1 {
  color: rgb(25, 37, 62);
}

.button {
  display: inline-block;
  text-align: center;
  background-color: rgb(25, 37, 62);
  color: white;
  padding: 20px;
  width: 200px;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(149,26,47);
  color: white;
}


@media (max-width: 560px) {

 #container {
    flex-direction: column;
  }

  #profile-pic {
    width: 100vw;
    height: 25vh; 
    object-fit: cover;
    
  }

  #text {
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    margin-top: -5px;
  }
}