#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

#profile-pic {
  width: 40vw;
  height: 80vh;
  object-fit: cover;
  object-position: right;
}

/* #container {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

#text {
  background-color: rgb(190, 203, 220);
  padding: 10px;
  height: 30vh;
  width: 40vw;
  margin-left: -80px;
  font-family: sans-serif;
  padding: 30px;
}

#text > h1 {
  color: rgb(25, 37, 62);
}

#text > a {
  text-decoration: none;
}

.button {
  text-align: center;
  background-color: rgb(25, 37, 62);
  color: white;
  padding: 20px;
  width: 150px;
  margin-top: 30px;
}

.button:hover {
  background-color: rgba(149,26,47);
}

#pic {
  margin-top: 10px;
}

@media (max-width: 560px) {

 #container {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    /* margin-top: -100px;  */
    overflow-x: hidden;
  }

  #pic{
    margin: 0;
  }

  #profile-pic {
    width: 90vw;
    height: 25vh;
    object-fit: cover;
  }

  #text {
    margin: 0;
    /* padding: 5px; */
    width: 90%;
  }

  .button {
    margin: 0;
    left: 0;
    width: 100%;
    margin-left: -20px;
  }

}