body {
    margin: 0;
}

header {
  box-shadow: 0 10px 20px -20px black;
  margin-right:0;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-content: center;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

nav > ul > li {
  padding-right: 20px;
}

.nav-link > a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

a:hover {
  color: rgba(149,26,47);
  fill: rgba(149,26,47);
}

.title {
  font-size: 2em;
  padding: 10px;
  color: rgba(149,26,47);
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Montserrat Alternates', sans-serif; 
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#hamburger-btn {
  width: 30px;
  height: 30px;
  margin: 10px;
  margin-right: 20px;
  display: none;
}

#hamburger-btn > rect {
  fill: black;
  /* width: 100px;
  height: 15px; */
}



@media (max-width: 940px) {

  header {
    position: relative; 
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 10px 20px -20px black;
    z-index: 10;
  }

  #nav-links {
    display: none;
    position: absolute;
    flex-direction: column; 
    background-color: rgb(190,203,220); 
    right: 0;
    top: 100%;
    padding: 20px;
  }

  .nav-link {
    padding: 20px;
    border-bottom: 2px solid rgb(25, 37, 62);
  }


  #nav-links.open {
    display: flex;
    margin: 0;
  }
  

  .social-media-links {
    display: none;
  }


  #hamburger-btn {
    padding: 8px;
  }

  #hamburger-btn, .mobile{
    display: block;
  }

  #hamburger-btn:hover {
    background-color: rgba(149,26,47);
  }

}
