.main-list > li {
  margin-bottom: 20px;
  padding: 10px;
}
 
.main-list {
  position: relative;
  margin-bottom: 10px;
}

#second-row {
  position: relative;
}

#divMenu {  
 width: 30%;
}  
 
.main-list-item {  
      list-style: none;  

      background-color: rgb(219, 229, 238);  
      border-radius: 5px;
      box-shadow: 2px 2px 2px 2px #999999;
  }  


  .main-list-item > ul {
     padding: 10px; 
     
  }

  #second-row > li {
    padding: 10px;
    margin-bottom: 20px;
  }


  main > a {
    text-decoration-color: rgba(149,26,47);
  }
  #button {

    color: rgb(25, 37, 62);
 
    margin: 0 auto; 
    margin-top: -30px;
    max-width: 150px;

    padding: 15px;
    box-sizing: border-box;
    text-align: center;

    border-radius: 5px;
  }
  
  #button:hover{
    color: rgba(149,26,47);
  }

  .header {
    font-size: 2em;
    margin: 0;
    margin-top: 5px;
 
  }

 .sub-header {
   font-size: 1.5em;
   margin: 0;
   margin-bottom: 5px;

  }


  #divMenu li:hover .header { 
    font-weight: bold;   
  }  

#divMenu li:hover .sub-header{ 
  font-weight: bold;
} 

.info {
  font-size: 1.2em;
  padding: 5px;
}


  #divMenu ul ul {  
      position: absolute; 
      left: 150%; 
      visibility: hidden;  
      width: 80%;
      max-width: 500px;
      top: 27px;  
      background-color: rgb(219, 229, 238);
      padding: 40px;
      border-radius: 10px;
      margin-bottom: 20px;
  }  


  
  .image-container {
    text-align: center;
  }

   .image {
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
  }

 
  #divMenu ul li:hover ul {  
      visibility: visible;  
  }  
 
  #divMenu li:hover {  
    background-color: rgba(149,26,47);
  }  
 

