body {
    margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 15px;
  margin-top: 20px;
}

nav > ul > li {
  padding-right: 20px;
}

.nav-link > a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

a:hover {
  color: rgba(149,26,47);
  fill: rgba(149,26,47);
}

#name {
  font-size: 2em;
  padding: 5px;
  color: rgba(149,26,47);
}

main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 90vh;
    background-color: rgb(219, 229, 238,0.4);
}

#profile-pic {
    width: 400px;
    object-fit: cover;
    height: 90vh;
    left: 500px;
}


#left {
    font-size: 4em;
    flex-grow: 0;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkorange;
    display:inline-block;
  }
  
  #left > div:nth-child(3) {
    flex-grow: 1;
  }
  
  #right {
    flex-basis: 0;
    flex-grow: 1;
    overflow-y: scroll;
    margin: 10px;
    margin-left: 20px;
  }
  

  h1 {
      font-family: sans-serif;
      color: rgb(25, 37, 62);
  }

  .slogan {
      font-size: 1.3em;
  }

  h2 {
    font-family: sans-serif;
    color: rgb(25, 37, 62);
    padding-top: 10px;
  }

/*
 .left-picture {
   display: flex;
   flex-direction: row;
   margin: 20px;
 }

 
 .right-picture {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   margin: 20px;
 }


  .logo {
      height: 20vh;
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(190, 203, 220);
      margin: 20px;
  }
  */

  .left-picture {
    display: flex;
    flex-direction: row;
  }

  
  .logo {
    width: 90%;
    padding: 20px;
  }
  

  .image-container {
    width: 50%;
    object-fit: contain;
  }

  /*
  .padded-text {
    padding-top: 35px;
  }
  */

  .text-container {
    background-color: rgb(190, 203, 220);
    padding: 10px;
    width: 50%;
  }

  .social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  footer > .social-media-links {
    background-color: rgb(25, 37, 62,0.6);
    margin: 0;
    height: 100px;
    list-style-type: none;
  }
  
  .social-media-links > li {
    padding: 10px;
    
  }