body {
    margin: 0;
}

/* Nav Bar CSS */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 15px;
  margin-top: 20px;
}

nav > ul > li {
  padding-right: 20px;
}

.nav-link > a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

a:hover {
  color: rgba(149,26,47);
  fill: rgba(149,26,47);
}

#name {
  font-size: 2em;
  padding: 5px;
  color: rgba(149,26,47);
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer > .social-media-links {
  background-color: rgb(25, 37, 62,0.6);
  margin: 0;
  height: 100px;
}

.social-media-links > li {
  padding: 10px;
  
}

/*    
#divMenu, ul, li, li li {  
  margin: 0;  
  padding: 0;  
}  
*/

.main-list > li {
  margin-bottom: 10px;
  padding: 10px;
}
 
.main-list {
  position: relative;
  margin-bottom: 10px;
}

#second-row {
  position: relative;
}

#divMenu {  
 width: 30%;
}  
 
.main-list-item {  
      list-style: none;  
      /* position: relative;   */
      background-color: rgb(219, 229, 238);  
      border-radius: 5px;
  }  


  .main-list-item > ul {
     padding: 10px; 
  }

  #second-row > li {
    padding: 10px;
    margin-bottom: 10px;
  }

 
  /*
.info {  
      /* list-style: none;   
      position: relative;  
      */
      /* left: 600px;   dynamically set left to be more than parent 
      top: -27px;  
      
      padding: 10px;

  }  
  */
 
 /*
  #divMenu ul li a {  
      width: 148px;  
      height: 25px;  
      display: block;  
      text-decoration: none;  
      text-align: center;  
      font-family: Georgia,'Times New Roman',serif;  
      color:#ffffff;  
      border:1px solid #eee;  
  }  
  */
  
  .header{
    font-size: 2em;
    margin: 0;
    margin-top: 5px;
  }

 .sub-header {
   font-size: 1.5em;
   margin: 0;
   margin-bottom: 5px;
  }

  #divMenu li:hover .header { 
    font-weight: bold;   
  }  

#divMenu li:hover .sub-header{ 
  font-weight: bold;
}

.info {
  font-size: 1.2em;
  padding: 5px;
}


  #divMenu ul ul {  
      position: absolute; 
      left: 150%; 
      visibility: hidden;  
      width: 80%;
      max-width: 500px;
      top: 27px;  
      background-color: rgb(219, 229, 238);
      padding: 40px;
      border-radius: 10px;
      margin-bottom: 20px;
  }  


  
  .image-container {
    text-align: center;
  }

   .image {
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
  }

 
  #divMenu ul li:hover ul {  
      visibility: visible;  
  }  
 
  #divMenu li:hover {  
    /* background-color: rgb(25, 37, 62,0.7); */
    background-color: rgba(149,26,47);

  }  
 



/* List CSS 
.list {
  list-style-type: none;
}

.list > li {
  border: 4px solid rgb(25, 37, 62);
  border-radius: 10px;
  padding: 10px;
  max-width: 700px;
  width: 100%;
  margin-bottom: 20px;
  color: rgb(25, 37, 62);
}

/* List Items CSS 

.item-container{
  display: flex;
  flex-direction: row;
}

.arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.arrow-container > svg {
  transform: scale(1.5);
  cursor: pointer;
}

.arrow-container > svg:hover {
  fill: rgba(149,26,47);
}

#arrow {
  transition: transform 1s linear;
}

/* Information CSS 
#list-container {
  display: flex;
  justify-content: space-evenly;
}

.info-card {
  width: 30%;
  height: 20%;
  transition-property: transform, opacity;
  transition-timing-function: all linear;
  transition-duration: 3s, 2s;
  /* transition: transform 3s ease-in-out; 
  transform: translateX(-50%);
  opacity: 1;

}


.info-card.visible {
    transform: translateX(15%);
}

.info-card.hidden {
  transform: translateX(-50%);
  opacity: 0;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(190, 203, 220);
  padding: 20px;
}

#card > img {
 width: 40%;

}

*/


