body {
    margin: 0;
}

/* Nav Bar CSS */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 15px;
  margin-top: 20px;
}

nav > ul > li {
  padding-right: 20px;
}

.nav-link > a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

a:hover {
  color: rgba(149,26,47);
  fill: rgba(149,26,47);
}

#name {
  font-size: 2em;
  padding: 5px;
  color: rgba(149,26,47);
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer > .social-media-links {
  background-color: rgb(25, 37, 62,0.6);
  margin: 0;
  height: 100px;
}

.social-media-links > li {
  padding: 10px;
  
}

/* List CSS */ 
.list {
  list-style-type: none;
}

.list > li {
  border: 4px solid rgb(25, 37, 62);
  border-radius: 10px;
  padding: 10px;
  max-width: 700px;
  width: 100%;
}

/* List Items CSS */
.list > li > h2 {
  padding-bottom: 2px;
  border-bottom: solid 1px black;
  width: 10em;
}

.item-container{
  display: flex;
  flex-direction: row;
}

.arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.arrow-container > svg {
  transform: scale(1.5);
  cursor: pointer;
}

.arrow-container > svg:hover {
  fill: rgba(149,26,47);
}

/* Information CSS */
#list-container {
  display: flex;
  justify-content: space-evenly;
}

.info-card {
  width: 30%;
  background-color: blue;

  transition-property: transform, opacity;
  transition-timing-function: all linear;
  transition-duration: 3s, 2s;

  /* transition: transform 3s ease-in-out; */
  transform: translateX(-50%);
  opacity: 1;

}

#arrow2 {
  transform: rotate(180deg) scale(1.5);
}

.info-card.visible {
    transform: translateX(15%);
}

.info-card.hidden {
  transform: translateX(-50%);
  opacity: 0;
}




