body {
    margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 15px;
  margin-top: 20px;
}

nav > ul > li {
  padding-right: 20px;
}

.nav-link > a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

a:hover {
  color: rgba(149,26,47);
  fill: rgba(149,26,47);
}

#name {
  font-size: 2em;
  padding: 5px;
  color: rgba(149,26,47);
}



.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer > .social-media-links {
  background-color: rgb(25, 37, 62,0.6);
  margin: 0;
  height: 100px;
}

.social-media-links > li {
  padding: 10px;
  
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#summary {
  width: 50vw;
}



.container{
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: transparent;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
  text-align: center;
  padding-top: 100px;
  box-sizing: border-box;
  color: transparent;
}

#text{
  font-size: 1.7em;
  font-family: sans-serif;
}

#arrow {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
  display: none;
  padding-left: 15px;
  transform: scale(1.5);
}

.container:hover #text{
  color:white;
}

.container:hover #arrow{
      display: inline;
}


.container:hover .overlay {
  background-color: rgb(25, 37, 62);
  width: 100%;

}


/*
#image-cover {
  width: 10px;
  height: 400px;
  background-color: yellow;
  transition-property: width;
  transition-duration: 4s;
  transition-timing-function: linear;
  top: 0;
  right: 0%;
}


/*
#container:hover #image-cover{
  background-color: blue;
  width: 854px;

}
*/

/*
#image-cover:hover, .pic:hover{
  background-color: blue;
  width: 854px;
}
*/
/*
#image-cover:hover{
  background-color: red;
  transform: translateX(-845px);
}
*/